<h1>本人確認メールが届いていませんか?</h1><br>
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <div class="item-center">
      <%= render "devise/shared/error_messages", resource: resource %>
        <h2><span class="markerB">メールアドレス</span></h2><br>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
          <br><br>
          <%= button_tag type: 'submit', class: "btn-cubic", id: 'btn' do %>
            <span class="hovering-submit">
              <i class="fas fa-paper-plane"></i>
            </span>
            <span class="default">本人確認メール送信</span>
          <% end %>
          <br><br>
        <%= render "devise/shared/links" %>
    </div>
  <% end %>

