  <div>
    <div>
      <div>

      <h5>新しくアカウントを<br>作成する</h5><br>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div>
          <div>
            <label>プロフ画像を設定</label><br>
            <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
          </div>
        </div><br>

        <div>
          <div>
            <%= f.text_field :name, autofocus: true,
                placeholder: "名前" %>
          </div>
        </div><br>

        <div>
          <div>
            <%= f.email_field :email,
                placeholder: "メールアドレス" %>
          </div>
        </div><br>

        <div>
          <div>
            <%= f.password_field :password, autocomplete: "new-password",
              placeholder: "パスワード (#{@minimum_password_length}文字以上)" %>
          </div>
        </div><br>

        <div>
          <div>
            <%= f.submit t('.sign_up') %>
          </div>
          <div>
            <%= render "devise/shared/links" %>
          </div>

        </div>

      <% end %>
      </div>
    </div>
  </div>