<% comments.each do |comment| %>
  <% unless comment.id.nil? %>
    <p><%= comment.content %></p>
    <p>
      <%= comment.user.name %>
      <%= comment.user.id %>
    </p>
    <%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
    <% if comment.user == current_user %>
      <p><%= link_to 'コメントを削除する', map_comment_path(comment.map_id, comment.id), method: :delete, remote: true %></p>
    <% end %>
  <% end %>
<% end %>