<%= form_with(model: map, local: true) do |form| %>
  <% if map.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(map.errors.count, "error") %> prohibited this map from being saved:</h2>
        <ul>
          <% map.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
    </div>
  <% end %>
  <div class="map" id='newpost'></div>
  <ol>
    <!-- 地図を表示させる要素 -->
    <br>
    <li><p><span class="markerB">どんなスポット？</span></p>
              <%= form.select :spot_style, [['スケートパーク', true], ['ストリートスポット', false]], class: "clear-button"%>
    </li> <br>
    <li><p><span class="markerB">ヘルメットの着用義務は？</span></p>
              <%= form.select :helmet, [['有り', true],['無し', false]] %>
    </li> <br>
    <li><p><span class="markerB">スケートパークやスポット名は？</span></p>
              <%= form.text_field :title, placeholder: "20字以内で" %>
    </li> <br>
    <li><p><span class="markerB">説明や備考などあれば</span></p>
              <%= form.text_area :content, size: "60x3", placeholder: "400字以内で" %>
    </li> <br>
    <li><p><span class="markerB">写真をアップロード</span></p>
                <p class="font-xs">（未設定でデフォルト画像がセットされます）</p>
                <%= form.file_field :picture, class: "btn slide-grey"%>
    </li> <br>
              <%= form.hidden_field :latitude, {id: "lat"} %>
              <%= form.hidden_field :longitude, {id: "lng"} %>
    <%= button_tag type: 'submit', class: "btn-cubic", id: 'btn' do %>
      <span class="hovering-submit">
        <i class="fas fa-paper-plane"></i>
      </span>
      <span class="default">投稿</span>
    <% end %>
  </ol>
<% end %>

<%# function getMap関数をコールバックして、#newpostに挿入。サイズはclass="map"で指定 %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5qtdZ0_IRKciy41eDwLL9fTQzwR_7BAI&callback=postMap" async defer></script>