<div class="col mb-4">
  <div class="card border-0">
    <div class="card-body">
      <h5>
        <% if post.title? %>
            <%= link_to post.title, map_path(post) %>
        <% else %>
            <%= link_to "タイトル", map_path(post) %>
        <% end %>
      </h5>
        <p>
          <% if post.content? %>
              <%= link_to post.content, map_path(post) %>
          <% else %>
              <%= link_to "あなたのお気に入りスポットです！", map_path(post) %>
          <% end %>
        </p>
          <%= link_to image_tag(post.picture.url,
                  class: "card-img-top border rounded border-dark"), map_path(post) %>

          <%# ボトム部分1 %>
          <div>
            <%= link_to 'Show', post %> | 
            <%= link_to 'Edit', edit_map_path(post) %> | 
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
            <%# ボトム部分2 %>
            <div class="card-body border-bottom">
                <i class="text-muted float-left">by</i>
                <%= link_to image_tag(post.user.image.url, size:"45x45",
                          class: "border rounded-circle border-dark float-left mr-sm-2 ml-1 d-none d-sm-block"),post.user %>
                <%= link_to post.user.name, post.user, class:"float-left text-dark ml-2 ml-sm-0" %>
                <span class="float-left ml-2 text-muted  d-sm-block d-none">
                  <%= post.created_at.strftime("%m/%d") %>
                </span>
                  <%# いいねボタン挿入 %>
                  <%= render partial: '/likes/likes_btn', locals: {post: post} %>
            </div>
    </div>
  </div>
</div>