  <div class="card">
    <div class="card-image"><%= link_to image_tag(post.picture.url, size: "275x275"),map_path(post), class: "link_to_text" %></div>
      <div class="card-info">
        <div class="card-title"><%= link_to post.title, map_path(post), class: "link_to_text_wh" %></div>
        <div class="card-detail"><%= link_to post.content, map_path(post), class: "link_to_text_wh" %></div>
      </div>
      <div class="card-social">
        <ul>
            <%= link_to image_tag(post.user.image.url, size:"45x45", class: "card-user-window") %>
            <p class="font-xs card-user-name-aria"><%= link_to post.user.name, post.user ,class: "link_to_text_wh"%></p>
            <p>作成日<br><%= post.created_at.strftime("%m/%d") %></p>
            <%# いいねボタン挿入 %>
            <%= render partial: '/likes/likes_btn', locals: {post: post} %>
        </ul>
      </div>
  </div>