<%# 検索フォームで抽出されたtitleカラムを持つ要素を表示%>
  <% @search_maps.each do |map| %>
    <div class="col mb-4">
      <div class="card border-0">
        <div class="card-body">
          <h5>
            <% if map.title? %>
                <%= map.title %>
            <% else %>
                タイトル
            <% end %>
          </h5>
          <p>
            <% if map.content? %>
                <%= map.content %>
            <% else %>
                あなたのお気に入りスポットです！
            <% end %>
          </p>
            <%= image_tag map.picture.url, class: "card-img-top border rounded border-dark" %>
          <div>
            <%= link_to 'Show', map %> | 
            <%= link_to 'Edit', edit_map_path(map) %> | 
            <%= link_to 'Destroy', map, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>

          <div>
            <%= link_to image_tag(map.user.image.url, size:"40x40",
                class:'rounded-circle border border-dark'),map.user %>
            <%= link_to map.user.name, map.user%>
          <%# 作成日時 %>
            <%= map.created_at.strftime("%m/%d") %>
            いいね数<%= map.likes.count%>
          </div>

        </div>
      </div>
    </div>
  <% end %>