<div class="show_card" id="drawer-menu">
  <div class="card-image">
    <div class="route-map" id='routes'></div>
  </div>
  <div class="card-body">
    <div class="controls">
      <div class="controls__c1">
        <a class="drawer">
          <p class="up"><i class="far fa-hand-point-up fa-lg"></i></p>
          <p class="down"><i class="far fa-hand-point-down fa-lg"></i></p>
        </a>
      </div>
      <div class="controls__c2">
        <p class="font-lg">
          <i class="fas fa-car"></i><span id="msg_d"></span>
          /
          <i class="far fa-clock"></i><span id="msg_t"></span>
        </p>
      </div>
    </div>

      <div class="Grid">
          <div class="Grid__c1">
            <div class="Grid__box-layout">
              <% if post.spot_style? %>
                <i class="fas fa-store-alt"></i> <span class="Grid__font-s">スケートパーク</span>
              <% else%>
                <i class="fas fa-street-view"></i> <span class="Grid__font-s">ストリート</span>
              <% end %>
            </div>
          </div>
          <div class="Grid__c2">
            <div class="Grid__box-layout">
              <% if post.helmet? %>
              　<span class="Grid__font-s">ヘルメット着用</span>
              <% else %>
                <span class="Grid__font-s">ヘルメット不要</span>
              <% end %>
            </div>
          </div>
          <div class="Grid__c3">
            <div class="Grid__box-layout">
              <%# 挿入：いいねボタン %>
              <div id="likes_buttons_<%= post.id %>">
                <%= render partial: '/likes/likes_btn', locals: {post: post} %>
              </div>
            </div>
          </div>
          <div class="Grid__c4">
            <div class="Grid__image Grid__box-layout">
              <%= image_tag post.picture.thumb1080.url , class: "Grid__resize"%>
            </div>
          </div>
          <div class="Grid__c5">
            <div class="Grid__box-layout">
              <%# 挿入：いいねカウント %>
              <p class="Grid__font-s" id="likes_count_<%= post.id %>">
                <%= render partial: '/likes/likes_count', locals: {post: post} %>
              </p>
              <span class="Grid__font-s">人が、ｲｲﾈ!しています。</span>
            </div>
          </div>
          <div class="Grid__c6"><p class="Grid__text-layout Grid__font-s"><br><%= post.address %></p></div>
          <div class="Grid__c7"><p class="Grid__text-layout Grid__font-s"><%= post.content %></p></div>
      </div>
  </div>
</div>

<%# function initMap関数をコールバックして、#routesに挿入。サイズはclass="map"で指定 %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5qtdZ0_IRKciy41eDwLL9fTQzwR_7BAI&callback=initMap" async defer></script>
