<h1>投稿一覧検索</h1>
  <div>
    <%# any?: 検索キーワード１つでも該当すれかどうかで分岐　%>
    <% if @search_maps.any? %>
      <div>
        <%= render partial: "/shared/search_form/map_title_cont" %>
          <div id="items" >
            <%= render partial: "maps/mapscard", collection: @search_maps, as: "post" %>
          </div>
            <%= link_to_next_page @search_maps, 'つづきを見る', remote: true, id: 'more_link' %>
      </div>
          <%= link_to 'New Map', new_map_path %>
    <% else %>
        <div>
          <%= render'/shared/search_form/map_title_cont' %>
              <p>エラー</p>
        </div>
    <% end %>
  </div>
