<main>
  <div class="first-content">
    <h2 class="textORG">VIEW SPOT</h2><br>
    <div class="item-center">
    <%# any?: 検索キーワード１つでも該当すれかどうかで分岐　%>
    <% if @search_maps.any? %>
          <div class="form">
            <ul class="form__ul">
              <li class="form__li">
                <%= render partial: "/shared/search_form/map_title_cont" %>
              </li>
              <li>
                <%= render partial: "/shared/search_form/map_address_cont" %>
              </li>
            </ul>
          </div>
              <div class="map_card_container" id="items">
                <%= render partial: "maps/mapscard", collection: @search_maps, as: "post" %>
              </div>
            <%= link_to_next_page @search_maps, 'つづきを見る', remote: true, class: "btn filled", id: 'more_link' %>
          </div>
    <% else %>
          <div>
            <%= render'/shared/search_form/map_title_cont' %>
              <br><br>
                <h3>まだコンテンツが投稿されていません！</h3>
              <br><br>
          </div>
    <% end %>
    </div>
  </div>
</main>