<p id="notice"><%= notice %></p>

<div class="d-flex flex-column align-items-center mt-3">
  <div class="col-xl-7 col-lg-8 col-md-10 col-sm-11 post-card">
    <div class="card">
      <div class="card-header">
        投稿する
      </div>
      <div class="card-body">
          <div class="form-group row mt-2">
            <div class="col-auto pr-0">
            </div>
            <div class="col pl-0">
            </div>
          </div>
          <div class="fallback">
          </div>
          <div class="dz-message m-0"></div>
          <div class="dropzone-previews mb-3">
            <div class="upload-photos-icon">
              <i class="fa fa-plus fa-2x" aria-hidden="true" style="color:#dddfe2"></i>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<br><br><br>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">ここが[ SSS ]トップページ</h1>

      <br><br><br>

      <%= form_tag maps_path, :method => 'get' do%>
        <%= text_field_tag 'address', params[:address], placeholder: "あなたが検索したい場所は？", size: 50%>
        <%= submit_tag "search" %>
      <% end %>

      <br><br><br>


      <%= @test %>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Address</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @maps.each do |map| %>
          <tr>
            <td><%= map.id %></td>
            <td><%= map.address %></td>
            <td><%= map.latitude %></td>
            <td><%= map.longitude %></td>
            <td><%= link_to 'Show', map %></td>
            <td><%= link_to 'Edit', edit_map_path(map) %></td>
            <td><%= link_to 'Destroy', map, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
  </div>
</div>

<%= link_to 'New Map', new_map_path %>
