<p id="notice"><%= notice %></p>
<main>
  <div class="first-content">
    <div>
      <!-- 地å図を表示させる要素 -->
      <h2>routemap</h2>
        車での走行距離：<span id="msg_d"></span>
        <br>
        目的地までの距離：<span id="msg_t"></span>
      <div class="map" id='routes'></div>
        <%= render "shared/google_api/routemap" %> <br><br>
        <%= image_tag @map.picture.url %>
    </div><br>
    <%# いいね登録と解除　%>
      <h3>イイネ！数: <%= @map.likes.count %></h3>
      <% unless current_user == @map.user %>
          <% if current_user.already_liked?(@map) %>
                <%# likeはmapはネスト%>
            <%= button_to 'いいねを取り消す', map_like_path(@map), method: :delete %>
          <% else %>
                <%# likeはmapはネスト%>
            <%= button_to 'いいね', map_likes_path(@map) %>
          <% end %>
      <% else %>
        <div>
          <i class="fas fa-heart heart_red"></i>
          <span class="font-xs">あなたの投稿にｲｲﾈ!はできません</span>
        </div>
      <% end %>
      <h2>いいねしたユーザー</h2>
        <% @map.liked_users.each do |map| %>
          <li><%= map.email %></li>
        <% end %>
      <div class="text-center">
        <%= link_to 'Edit', edit_map_path(@map) %> |
        <%= link_to 'Back', maps_path %>
      </div>
  </div>
</main>