<p id="notice"><%= notice %></p>
<main>
<button class="click_button">button</button>
  <div class="first-content">
    <div>
      <!-- 地å図を表示させる要素 -->
      <h2>routemap</h2>
        車での走行距離：<span id="msg_d"></span>
        <br>
        目的地までの距離：<span id="msg_t"></span>
      <div class="map" id='routes'></div>
        <%= image_tag @map.picture.url %>
    </div>

      <% unless current_user == @map.user %>
          <% if current_user.already_liked?(@map) %>
                <%# likeはmapはネスト%>
            <%= button_to map_like_path(@map), method: :delete, class: "clear-button" do %>
              <i class="fas fa-heart fa-lg heart_red"></i>
              <p class="font-xs">ｲｲﾈ!!</p>
            <% end %>
          <% else %>
                <%# likeはmapはネスト%>
            <%= button_to  map_likes_path(@map), class: "clear-button" do %>
              <i class="fas fa-heart fa-lg heart_white"></i>
            <% end %>
          <% end %>
      <% else %>
        <div>
          <i class="fas fa-heart heart_red"></i>
          <span class="font-xs">あなたの投稿にｲｲﾈ!はできません</span>
        </div>
      <% end %>

      <h2>いいねしたユーザー<%= @map.likes.count %>人</h2>
      <ul>
        <% @map.liked_users.each do |map| %>
          <li><%= map.name %></li>
        <% end %>
        <li><%= @map.title %></li>
        <li><%= @map.content %></li>
        <li><%= @map.address %></li>
        <li>
          <% if @map.spot_style? %>
            スケートパーク
          <% else%>
            ストリートスポット
          <% end %>
        </li>
        <li>
          <% if @map.helmet? %>
          　ヘルメット必須
          <% else %>
            ヘルメット不要
          <% end %>
        </li>
      </ul>


      <div class="text-center">
        <%= link_to 'Edit', edit_map_path(@map) %> |
        <%= link_to 'Back', maps_path %>
      </div>
  </div>
</main>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5qtdZ0_IRKciy41eDwLL9fTQzwR_7BAI&callback=initMap" async defer></script>