<p id="notice"><%= notice %></p>

<div class="container">
  <% if @map.picture? %>
    <%= image_tag @map.picture.url %>
  <% else %>
    <%= image_pack_tag 'media/images/no-image.jpg' %>
  <% end %>
</div>

<p>
  <strong>Address:</strong>
  <%= @map.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @map.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @map.longitude %>
</p>

<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>
