<p id="notice"><%= notice %></p>
<main>
  <div class="first-content">
    <div class="show_card" id="drawer-menu">
      <div class="card-image">
        <div class="map" id='routes'></div>
      </div>
      <div class="card-body">
        <div class="controls">
          <div class="controls__c1">
            <a class="drawer">
              <p class="up"><i class="far fa-hand-point-up fa-lg"></i></p>
              <p class="down"><i class="far fa-hand-point-down fa-lg"></i></p>
            </a>
          </div>
          <div class="controls__c2">
            <p class="font-md">
              <i class="fas fa-car"></i><span id="msg_d"></span>
              /
              <i class="far fa-clock"></i><span id="msg_t"></span>
            </p>
          </div>
        </div>
          <div class="Grid">
              <div class="Grid__c1"><h1 class="Grid__font-l"><%= @map.title %></h1></div>
              <div class="Grid__c2">
                <% if @map.spot_style? %>
                  <i class="fas fa-store-alt"></i> <span class="Grid__font-m">スケートパーク</span>
                <% else%>
                  <i class="fas fa-street-view"></i> <span class="Grid__font-m">ストリート</span>
                <% end %>
              </div>
              <div class="Grid__c3">
                <% if @map.helmet? %>
                　<span class="Grid__font-m">ヘルメット着用</span>
                <% else %>
                  <span class="Grid__font-m">ヘルメット不要</span>
                <% end %>
              </div>
              <div class="Grid__c4"><div class="Grid__image"><%= image_tag @map.picture.thumb1080.url , class: "Grid__resize"%></div></div>
              <div class="Grid__c5">
                <div class="Grid__like-button">
                  <% unless current_user == @map.user %>
                      <% if current_user.already_liked?(@map) %>
                            <%# likeはmapはネスト%>
                        <%= button_to map_like_path(@map), method: :delete, class: "clear-button" do %>
                          <i class="fas fa-heart fa-lg heart_red"></i>
                        <% end %>
                      <% else %>
                            <%# likeはmapはネスト%>
                        <%= button_to  map_likes_path(@map), class: "clear-button" do %>
                          <i class="fas fa-heart fa-lg heart_grey"></i>
                        <% end %>
                      <% end %>
                  <% else %>
                    <i class="fas fa-heart heart_blk"></i>
                  <% end %>
                </div>
              </div>
              <div class="Grid__c6"><div class="Grid__like-msg"><p class="Grid__font-s">ｲｲﾈ!したユーザーは<%= @map.likes.count %>人です。</p></div></div>
              <div class="Grid__c7"><p class="Grid__font-m">本文：<br><%= @map.content %></p></div>
              <div class="Grid__c8"><p class="Grid__font-m">目的地の住所：<br><%= @map.address %></p></div>
          </div>
      </div>
    </div>
    <%= link_to 'Edit', edit_map_path(@map) %> |
    <%= link_to 'Back', maps_path %> | 
    <%= link_to 'Destroy', @map, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%# function initMap関数をコールバックして、#routesに挿入。サイズはclass="map"で指定 %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5qtdZ0_IRKciy41eDwLL9fTQzwR_7BAI&callback=initMap" async defer></script>
  </div>
</main>
