<p id="notice"><%= notice %></p>

<div class="container">
    <%= image_tag @map.picture.url %>

    <%= render "navs_tab" %>

    <%= link_to 'Edit', edit_map_path(@map) %> |
    <%= link_to 'Back', maps_path %>
</div>


