    <% unless @user == current_user %>
      <% if current_user.following?(@user) %>
        <%= link_to unfollow_path(@user.id), method: :POST, class: "clear-button" do %>
          <i class="fas fa-handshake fa-lg follow_green"></i>
          <span class="font-xs">このユーザーをフォローしています</span>
        <% end %>
      <% else %>
        <%= link_to follow_path(@user.id), method: :POST, class: "clear-button" do  %>
          <i class="far fa-handshake fa-lg unfollow_grey"></i>
          <span class="font-xs">このユーザーをフォローする</span>
        <% end %>
      <% end %>
    <% end %>

<div class="tab-wrap">
    <input id="TAB-01" type="radio" name="TAB" class="tab-switch" checked="checked" /><label class="tab-label" for="TAB-01">SPOT</label>
    <div class="tab-content">
      <h1>投稿したSPOT</h1>
        <div class="map_card_container">
          <%= render partial: "users/mapscard" %>
        </div>
    </div>
    <input id="TAB-02" type="radio" name="TAB" class="tab-switch" /><label class="tab-label" for="TAB-02">いいね</label>
    <div class="tab-content">
      <h1>いいね！した投稿</h1>
        <div class="map_card_container">
          <%= render partial: "users/like_mapscard" %>
        </div>
    </div>
    <input id="TAB-03" type="radio" name="TAB" class="tab-switch" /><label class="tab-label" for="TAB-03">フォロー中</label>
    <div class="tab-content">
        <h2><%= "フォロー数: #{@user.follower.count}" %></h2>
          <% @user.following_user.where.not(id: current_user.id).each do |user| %>
            <p>
              <%= "#{user.name} : " %>
              <% if current_user.following?(user) %>
                <%= link_to unfollow_path(user.id), method: :POST, class: "clear-button" do %>
                  <i class="fas fa-handshake fa-lg follow_green"></i>
                  <span class="font-xs">フォローをやめる</span>
                <% end %>
              <% else %>
                <%= link_to follow_path(user.id), method: :POST, class: "clear-button" do  %>
                  <i class="far fa-handshake fa-lg unfollow_grey"></i>
                <% end %>
              <% end %>
              <%= link_to "show", user_path(user) %>
            </p>
          <% end %>
    </div>
    <input id="TAB-04" type="radio" name="TAB" class="tab-switch" /><label class="tab-label" for="TAB-04">フォロワー</label>
    <div class="tab-content">
        <h2><%= "フォロワー数: #{@user.followed.count}" %></h2>
        <% @user.follower_user.where.not(id: current_user.id).each do |user| %>
          <p>
            <%= "#{user.name} : " %>
            <% if current_user.following?(user) %>
              <%= link_to unfollow_path(user.id), method: :POST, class: "clear-button" do %>
                <i class="fas fa-handshake fa-lg follow_green"></i>
                <span class="font-xs">フォローをやめる</span>
              <% end %>
            <% else %>
              <%= link_to follow_path(user.id), method: :POST, class: "clear-button" do  %>
                <i class="far fa-handshake fa-lg unfollow_grey"></i>
                <span class="font-xs">フォローを返す</span>
              <% end %>
            <% end %>
            <%= link_to "show", user_path(user) %>
          </p>
        <% end %>
    </div>
</div>






