<div class="main user-show">
  <div class="container">
    <div class="user">
    
      <!-- 以下で、ユーザー名を出力してください -->
      <h2><%= @user.name %></h2>
      <!-- 以下で、メールアドレスを出力してください -->
      <p><%= @user.email %></p>

      <%= image_tag @user.image.url %>　<!--false時、image_uploadsによるdefault_urlが起動 -->

      <h2>投稿内容</h2>
      <% @user.maps.each do |map| %>
        <a href="/maps/<%= map.id %>"><%= map.content %></a>
        <hr>
      <% end %>

      <h3>いいねしている投稿</h3>
      <% @user.liked_maps.each do |map| %>
        <%= map.user.name %>
        <%= map.content %>
      <% end %>

    </div>
  </div>
</div>

<h2>ユーザー詳細ページ</h2>
<p><%= "id: #{@user.id}" %></p>
<p><%= "フォロー数: #{@user.follower.count}" %></p>
<p><%= "フォロワー数: #{@user.followed.count}" %></p>
<% unless @user == current_user %>
  <% if current_user.following?(@user) %>
    <%= link_to 'フォロー外す', unfollow_path(@user.id), method: :POST %>
  <% else %>
    <%= link_to 'フォローする', follow_path(@user.id), method: :POST %>
  <% end %>
<% end %>
<p></p>

<h3>フォロー一覧</h3>
  <% @user.following_user.where.not(id: current_user.id).each do |user| %>
    <p>
      <%= "id: #{user.id} email: #{user.email}" %>
      <% if current_user.following?(user) %>
        <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
      <% else %>
        <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
      <% end %>
      <%= link_to "show", user_path(user) %>
    </p>
  <% end %>
    <h3>フォロワー一覧</h3>
      <% @user.follower_user.where.not(id: current_user.id).each do |user| %>
        <p>
          <%= "id: #{user.id} email: #{user.email}" %>
          <% if current_user.following?(user) %>
            <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
          <% else %>
            <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
          <% end %>
          <%= link_to "show", user_path(user) %>
        </p>
      <% end %>