<main>
  <div class="first-content">
    <div class="item-center">
      <% if user_signed_in? && current_user.id.to_s == params[:id] %>
      <!--ログイン中ユーザー-->
        <h2>@<%= current_user.name %></h2>
        <%= link_to edit_user_registration_path do %>
          <i class="fas fa-edit"></i>
        <% end %>
        <%= image_tag current_user.image.url , class: "user-image-window" %>
          <!--挿入：コンテンツタブバー-->
          <%= render partial: "users/content-tab", locals: {feed: @user} %>
      <% else %>
      <!--その他ユーザー-->
        <h2>@ <%= @user.name %></h2>
        <%= image_tag @user.image.url %>
          <!--挿入：コンテンツタブバー-->
          <%= render partial: "users/content-tab", locals: {feed: @user} %>
      <% end %>
    </div>
  </div>
</main>