<h1>パスワードをお忘れですか？</h1><br>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <div class="item-center">
      <%= render "devise/shared/error_messages", resource: resource %>
        <h2><span class="markerB">メールアドレス</span></h2><br>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "inputEmail3",class: "form-control",placeholder:"Email" %>
            <br><br>
            <%= button_tag type: 'submit', class: "btn-cubic", id: 'btn' do %>
              <span class="hovering-submit">
                <i class="fas fa-paper-plane"></i>
              </span>
              <span class="default">パスワードリセット</span>
            <% end %>
            <br>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
