<header>
  <nav>
    <%= link_to image_pack_tag("media/images/new.sss.logo.png"), root_path %>
      <div id="navbarTogglerDemo02">
        <ul>
          <% if user_signed_in? %>
            <li>
            <%= link_to edit_user_registration_path do %>
              <span class="fas fa-address-card"></span>
              編集
            <% end %>
            </li>
            <li>
            <%= link_to users_path do %>
              <span class="fas fa-address-book"></span>
              ユーザー
            <% end %>
            </li>
            <li>
            <%= link_to maps_path do %>
              <span class="fas fa-folder-open"></span>
              一覧
            <% end %>
            </li>
            <li>
            <%= link_to new_map_path do %>
              <span class="fas fa-map-marked-alt"></span>
              投稿
              <% end %>
            </li>
            <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fas fa-sign-out-alt"></i>
              ログアウト
            <% end %>
            </li>
            <li>
              <span class="fas fa-envelope"></span>
              問い合わせ
            </li>
          <% else %>
            <li>
              <%= link_to new_user_registration_path do %>
                <i class="fas fa-user-plus"></i>
                新規登録
              <% end %>
            </li>
            <li>
              <%= link_to new_user_session_path do %>
                <i class="fas fa-sign-in-alt"></i>
                ログイン
              <% end %>
            </li>
            <li>
            <%= link_to maps_path do %>
              <span class="fas fa-folder-open"></span>
              投稿一覧
            <% end %>
            </li>
            <li>
              <span class="fas fa-envelope"></span>
              問い合わせ
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>