<header class="sticky-top">
  <nav class="navbar navbar-expand-lg shadow-sm p-3 mb-5 navbar-light bg-white rounded">
    <%= link_to image_pack_tag("media/images/new.sss.logo.png"), root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-md-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
            <%= link_to "プロフ編集", edit_user_registration_path, class: "nav-link text-body" %>
            </li>
            <li class="nav-item">
            <%= link_to "ユーザー", users_path, class: "nav-link text-body" %>
            </li>
            <li class="nav-item">
            <%= link_to "投稿一覧", maps_path, class: "nav-link text-body" %>
            </li>
            <li class="nav-item">
            <%= link_to "mapを追加", new_map_path, class: "nav-link text-body" %>
            </li>
            <li class="nav-item">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link text-body" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path, class: "nav-link text-body" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: "nav-link text-body" %>
            </li>
            <li class="nav-item">
            <%= link_to "投稿一覧", maps_path, class: "nav-link text-body" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>