<div class="title">not_logged</div>

<div class="conteiner">
    <div class="row">
        <div class="col-12 d-none d-sm-block">
            <ul class="slider mb-auto mt-auto">
                <li><img src="<%= asset_path "1.png" %>" alt="ひまわりの画像" ></li>
                <li><img src="<%= asset_path "2.png"     %>" alt="ライオンの画像" ></li>
                <li><img src="<%= asset_path "3.png"    %>" alt="星空の画像" ></li>
                <li><img src="<%= asset_path "4.png"   %>" alt="木の画像" ></li>
                <li><img src="<%= asset_path "5.png" %>" alt="雪山の画像" ></li>
            </ul>
        </div>
    </div>
</div>