<main>
  <div class="first-content">
    <h1>ログインページ</h1>
      <%= form_for(resource, as: resource_name, url:session_path(resource_name)) do |f| %>
        <div class="item-center">
          <h3><span class="markerB"><%= f.label :email %></span></h3>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
          <br><br>
          <h3><span class="markerB"><%= f.label :password %></span></h3>
            <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
          <br><br>
              <%= button_tag type: 'submit', class: "btn-cubic", id: "btn" do %>
                <span class="hovering">
                  <i class="fas fa-sign-in-alt"></i>
                </span>
                <span class="default">ログイン</span>
              <% end %><br><br>
                <%= render "devise/shared/links" %>
        </div>
      <% end %>
  </div>
</main>