<main>
  <div class="first-content">
    <h1>ログインページ</h1> <br>
      <%= form_for(resource, as: resource_name, url:session_path(resource_name)) do |f| %>
        <ul>
          <li> <h3><span class="marker-brunt"><%= f.label :email %></span></h3>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
          </li> <br>
          <li> <h3><span class="marker-brunt"><%= f.label :password %></span></h3>
              <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
          </li> <br>
          <li>
              <%= button_tag type: 'submit', class: "btn-cubic" do %>
                <span class="hovering">
                  <i class="fas fa-sign-in-alt"></i>
                </span>
                <span class="default">ログイン</span>
              <% end %> <br><br>
              <%= render 'devise/shared/links' %>
          </li>
        </ul>
      <% end %>
  </div>
</main>