<div>
  <div>
    <div>
      <h5>ログインページ</h5><br>

      <%= form_for(resource, as: resource_name, url:
        session_path(resource_name)) do |f| %>
        <div>
          <%= f.label :email %>
          <div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
          </div>
        </div>
        <div>
          <%= f.label :password %>
          <div>
            <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
          </div>
        </div>
        <% if devise_mapping.rememberable? %>
          <div>
          <%= f.label :remember_me, class: 'form-check-label col-sm-10' do %>
            <%= f.check_box :remember_me, type: "checkbox", id: "gridCheck1" %>
              <%= resource.class.human_attribute_name('remember_me') %>
            <% end %>
          </div>
        <% end %>
        <br>
        <div>
          <%= f.submit  t('.sign_in') %>
        </div>
      <% end %>
      <br>
      <%= render 'devise/shared/links' %>
    </div>
  </div>
  <br>
</div>