<!DOCTYPE html>
<html>
  <head>
    <title><%= document_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=1024" />

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag '/favicon.ico' %>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico" />
  </head>

  <body>
    <div id="wrapper">
      <%= render "shared/header" %>
      <div id="container-fluid">
      <%= render "shared/flash" %>
          <%= yield %>
      </div>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>