<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= document_title %></title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=devise-width, initial-scale=1.0" />
      <%= stylesheet_pack_tag 'application',  'data-turbolinks-track': 'reload' %>
      <%= include_gon %>
      <%= javascript_pack_tag 'application',  'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'google',       'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'card_action',  'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'header',       'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'select2',      'data-turbolinks-track': 'reload' %>
      <!--publi配下のfaviconを使用-->
      <%= favicon_pack_tag('favicon.ico') %>
      <!--CDNで読み込め、使用できたselect2-->
      <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
      <!--CDNで読み込め、使用できたselect2-->
  </head>
    <body>
      <div id="global-container">
        <div id="container">
          <%= render "shared/header" %>
            <div id="main-content">
              <%= render "layouts/flash" %>
              <%= yield %>
            </div>
          <%= render "shared/footer" %>
        </div>
        <%= render "shared/mobile-menu"%>
      </div>
    </body>
</html>